/* For meeting minutes page. */
* {
	font-family: "Roboto Mono";
	color: hsl(0%, 0%, 0%);
}

body, hr {
	margin: 0px;
}

@media (max-width: 1200px) {
	font-size: 18px;
}

.header-bar {
	background-color: #f74843;
	width: 100%;
	min-width: 360px;
	overflow: auto;
	padding: 1em 1em 1em 1em;
	display: inline-block;
	border-style: none none solid none;
	border-color: orange;
	border-width: 0.5em;
	border-radius: 5px;
}

.header-bar h1 {
	color: white;
	float: left;
}

nav {
	display: block
	height: 100%;
}

nav ul {
	display: flex;
	align-items: baseline;
	flex-direction: row;
	justify-content: flex-end;
	margin: 0px;
	padding-top: 0;
	padding-left: 0;
	padding-bottom: 0;
	padding-right: 0;
	height: 100%;
}

ul > li {
	flex-basis: 200px;
	list-style-type: none;
	text-align: center;
	color: rgb(255, 255, 255);
	padding: 0.5em;
	float: right;
	display: block;
}

h2 {
	text-decoration: overline;
}

h2 ~ h3 {
	font-style: italic;
}

#MacPic {
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: sticky;
}

img + p {
	text-align: center;
}

[class="stuff"] {
	display: grid;
	grid-template-columns: auto auto;
}

div.summary {
	grid-row: 2;
	grid-column: 1 / span 2;
}

header {
	margin: 0px;
	position: sticky;
	top: 0;
	z-index: 2;
}

main {
	margin: 0 1em 0 1em;
}

footer {
	margin: 0 1em 1em 1em;
}

p {
	max-width: 90%;
}

img {
	margin-left: 1em;
	margin-top: 1em;
	margin-bottom: 1em;
}

img:hover {
	box-shadow: 2px 2px 2px 2px gray;
}

button:active {
	font-weight: bold;
}